$mat-palette-primary: (
  50 : #e5ecf3,
  100 : #bfcee0,
  200 : #94aecc,
  300 : #698eb8,
  400 : #4875a8,
  500 : #285d99,
  600 : #245591,
  700 : #1e4b86,
  800 : #18417c,
  900 : #0f306b,
  A100 : #9fbdff,
  A200 : #6c9bff,
  A400 : #3978ff,
  A700 : #1f66ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-palette-accent: (
  50 : #f3f3f3,
  100 : #e2e2e2,
  200 : #cfcfcf,
  300 : #bbbbbb,
  400 : #adadad,
  500 : #9e9e9e,
  600 : #969696,
  700 : #8c8c8c,
  800 : #828282,
  900 : #707070,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff
  )
);

$mat-palette-warn: (
  50 : #feeeee,
  100 : #fcd4d5,
  200 : #fab8ba,
  300 : #f79b9e,
  400 : #f68589,
  500 : #f47074,
  600 : #f3686c,
  700 : #f15d61,
  800 : #ef5357,
  900 : #ec4144,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffd6d7,
  A700 : #ffbdbe,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);