$mat-palette-primary: (
  50: #e5ecf3,
  100: #bfcee0,
  200: #94aecc,
  300: #698eb8,
  400: #4875a8,
  500: #285d99,
  600: #245591,
  700: #1e4b86,
  800: #18417c,
  900: #0f306b,
  A100: #9fbdff,
  A200: #6c9bff,
  A400: #3978ff,
  A700: #1f66ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);
