<div class="content w3-padding">
  <div class="w3-content">
    <mat-card id="card">
      <div id="arch" class="w3-theme-primary w3-hide-small"></div>
      <mat-card-content>
        <div class="profile-ripple outer w3-theme-primary-l1"></div>
        <div class="profile-ripple inner w3-theme-primary-l2"></div>
        <div class="profile w3-white"></div>

        <div class="card-space small w3-hide-medium w3-hide-large"></div>
        
        <div id="card-content">
          <div id="profile-name" class="w3-text-theme-primary w3-xlarge ">Sushant Kumar</div>
          <div class="button-row">
            <a mat-icon-button color="accent" class="w3-large" href="https://github.com/sushant-kum" target="_blank" aria-label="Github">
              <fa-icon [icon]="['fab', 'github-alt']"></fa-icon>
            </a>
            <a mat-icon-button color="accent" class="w3-large" href="https://sushantk.com" target="_blank" aria-label="Website">
              <fa-icon [icon]="['fas', 'globe']"></fa-icon>
            </a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>