<div class="content w3-padding">
  <div class="w3-content">
    <mat-card>
      <div id="arch" class="w3-theme-primary"></div>
      <mat-card-content>
        <div class="profile-ripple outer w3-theme-primary-l1"></div>
        <div class="profile-ripple inner w3-theme-primary-l2"></div>
        <div class="profile w3-white"></div>
        <div id="profile-name" class="w3-text-white w3-xlarge w3-center">Sushant Kumar</div>
        <div id="card-header-space"></div>
      </mat-card-content>
    </mat-card>
  </div>
</div>