#not-found {
  position: relative;
  min-height: calc(100vh - 100px);

  .not-found {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 520px;
    width: 100%;
    line-height: 1.4;

    .not-found-404 {
      position: absolute;
      left: 0;
      top: 0;
      height: 150px;
      width: 200px;
      z-index: -1;

      h1 {
        font-family: "Poppins", sans-serif;
        font-size: 238px;
        font-weight: 700;
        margin: 0px;
        color: #e3e3e3;
        text-transform: uppercase;
        letter-spacing: 7px;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        cursor: default;
      }
    }

    h2 {
      font-family: "Poppins", sans-serif;
      font-size: 28px;
      font-weight: 400;
      text-transform: uppercase;
      color: #222;
      margin-top: 12px;
      margin-bottom: 15px;
      cursor: default;
    }

    .not-found-search {
      position: relative;
      padding-right: 107px;
      width: 100%;
      margin: 30px 0px 20px;

      input:focus {
        border-color: #57a3f8;
      }

      button {
        position: absolute;
        right: 0px;
        top: 4px;
        width: 100px;
      }
    }
  }
}

mat-form-field {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .not-found {
    .not-found-404 {
      height: 110px;
      line-height: 110px;

      h1 {
        font-size: 170px;
      }
    }

    h2 {
      font-size: 24px;
    }

    .not-found-search {
      margin: 10px 0px 20px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .not-found {
    .not-found-404 {
      left: 40px;

      h1 {
        font-size: 120px;
      }
    }

    h2 {
      font-size: 18px;
    }
  }
}
