.tile {
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;

  .tile {
    &-overlay {
      background: transparent;
      position: absolute;
      z-index: 100;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    &-bookmark {
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 101;
    }

    &-icon {
      width: 130px;
    }

    &-text {
      position: relative;

      &-icon {
        position: absolute;
        right: -24px;
        bottom: -12px;
        opacity: 0.3;
        font-size: 60px;
        height: 70px;
        width: 70px;
        overflow: hidden;
        transition-property: all;
        transition-duration: 0.15s;
        transition-timing-function: linear;
      }
    }
  }

  &:hover {
    .tile-text {
      &-icon {
        font-size: 100px;
        height: 80px;
        width: 80px;
      }
    }
  }
}