<div class="content w3-padding-large">
  <div class="w3-content">
    <mat-card class="mat-elevation-z">
      <mat-card-header class="w3-padding-small">
        <img mat-card-avatar src="assets/images/icons/icon_quotations.svg" />
        <mat-card-title class="app-text-theme-primary">
          Quotations
        </mat-card-title>
        <button mat-icon-button color="accent" matTooltip="Quotation-Config" matTooltipPosition="before" class="w3-large btn-config" (click)="routeToConfig()">
          <fa-icon [icon]="['fas', 'tools']"></fa-icon>
        </button>
      </mat-card-header>

      <mat-card-content>
          <div class="w3-row">
            
          </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
