<nav id="sidebar" class="w3-sidebar w3-bar-block app-theme-primary-d3 w3-show">
  <div id="logo-holder" class="w3-white w3-padding-small">
    <img src="assets/images/logo.png">
  </div>

  <div *ngFor="let page of config.pages" [id]="'menu_' + config.page_map[page].identifier"
    [attr.data-menuitem]="config.page_map[page].identifier"
    class="menuitem w3-bar-item w3-button app-hover-theme-accent w3-padding-large ripple-btn" [ngClass]="{'w3-padding-left-16': !config.page_map[page].is_subpage, 'w3-padding-left-32 app-theme-primary-dark': config.page_map[page].is_subpage}"
    (click)="redirectTo(config.page_map[page].path, 400, true)">
    <div class="c-ripple js-ripple">
      <span class="c-ripple__circle"></span>
    </div>
    <fa-icon icon={{config.page_map[page].fas_icon}}></fa-icon>&nbsp;{{config.page_map[page].short_name}}
  </div>

  <!-- <div id="submenu_annotator" class="app-theme-primary-dark">
    <div id="menu_annotator-download" data-menuitem="annotator-download"
      class="menuitem w3-bar-item w3-button app-hover-theme-accent w3-padding-large w3-padding-left-32 ripple-btn"
      (click)="redirectTo('/annotator/download', 400)">
      <div class="c-ripple js-ripple">
        <span class="c-ripple__circle"></span>
      </div>
      <fa-icon [icon]="['fas', 'cloud-download-alt']"></fa-icon>&nbsp;Download
    </div>
    <div id="menu_annotator-upload" data-menuitem="annotator-upload"
      class="menuitem w3-bar-item w3-button app-hover-theme-accent w3-padding-large w3-padding-left-32 ripple-btn"
      (click)="redirectTo('/annotator/upload', 400)">
      <div class="c-ripple js-ripple">
        <span class="c-ripple__circle"></span>
      </div>
      <fa-icon [icon]="['fas', 'cloud-upload-alt']"></fa-icon>&nbsp;Upload
    </div>
  </div>
  <div id="menu_trainer" data-menuitem="trainer"
    class="menuitem w3-bar-item w3-button app-hover-theme-accent w3-padding-large w3-padding-left-16 ripple-btn"
    (click)="redirectTo('/trainer', 400)">
    <div class="c-ripple js-ripple">
      <span class="c-ripple__circle"></span>
    </div>
    <fa-icon [icon]="['fas', 'brain']"></fa-icon>&nbsp;Trainer
  </div> -->


</nav>

<nav id="sidebar-collapsed" class="w3-sidebar w3-bar-block app-theme-primary-d3 w3-hide">
  <div id="logo-holder-collapsed" class="w3-white w3-padding-small">
    <img src="assets/images/logo-favicon-1024x1024.png">
  </div>

  <div *ngFor="let page of config.pages" [id]="'menu_' + config.page_map[page].identifier"
    [attr.data-menuitem]="config.page_map[page].identifier"
    class="menuitem w3-bar-item w3-button app-hover-theme-accent w3-padding-left-16 w3-padding-large ripple-btn" [ngClass]="{'app-theme-primary-dark': config.page_map[page].is_subpage}"
    (click)="redirectTo(config.page_map[page].path, 400, true)">
    <div class="c-ripple js-ripple">
      <span class="c-ripple__circle"></span>
    </div>
    <fa-icon icon={{config.page_map[page].fas_icon}}></fa-icon>
  </div>
</nav>

<div id="logout" class="app-theme-warn">
  <div id="btn-logout" (click)="logout()">
    Logout
    <fa-icon [icon]="['fas', 'sign-out-alt']" class="w3-right"></fa-icon>
  </div>
</div>

<button id="btn-sidebar-toggle" mat-mini-fab color="" (click)="toggleSidebarCollapse()"
  [matTooltip]="getToggleButtonTooltipContent()" matTooltipPosition="after">
  <div class="hamburger hamburger--arrow is-active">
    <div class="hamburger-box">
      <div class="hamburger-inner"></div>
    </div>
  </div>
</button>